.footer{
    /* border: 2px solid green; */
    /* margin: 1vw; */
    padding: 1vw;
    background-color:  #333333;
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 6vh;
}

.logo{
    margin:0% 2%;
    width: 7.5vw;
    
}

.footer-list{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vh;
}
